@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";



.font-orbitron{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;

}